<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
<head>
<title></title>
</head>
<body>
<p><br/></p>
<p><br/></p>
<p style="text-align: center;"><img xmlns="http://www.w3.org/1999/xhtml" width="200" height="300" src="normal.png"/><br/></p>
<h1 style="text-align: center;" > <span style="color:gray;">設計組合的JND值 =</span> <span style="text-decoration: underline;color:red;">{{result}}</span></h1>
</body>
</html>